.reg-nav {
  width: 1200px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.reg-nav .nav-left {
  display: flex;
}
.reg-nav .nav-left > .xian {
  width: 2px;
  height: 20px;
  border-right: 1px solid #999;
  margin-top: 26px;
  margin-left: 20px;
}
.reg-nav .nav-left > img {
  height: 100%;
}
.nav-right {
  width: 261px;
  height: 21px;
  margin-top: 27px;
}
.nav-right .zh > a {
  display: inline-block;
  font-size: 14px;
  width: 84px;
  line-height: 21px;
  text-align: right;
  color: #333;
}
.p-main {
  background-color: #21222d;
  height: 640px;
}
.p-main .mask {
  height: 640px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.mask-tu {
  width: 828px;
  height: 640px;
  background-color: rgba(255, 255, 255, 0.2);
}
.mask-tu > img {
  height: 100%;
}
.mask-reg {
  height: 575px;
  width: 372px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.mask-reg .display {
  display: none;
}
.mask-reg .rbox {
  width: 372px;
  height: 454px;
  margin: 69px 0;
  border-radius: 5px;
  background-color: white;
}
.mask-reg .bmbox {
  height: 64px;
  font-size: 14px;
  line-height: 64px;
  background: #f7f8f8;
  border-top: 1px solid #f3f3f3;
  text-align: center;
}
.mask-reg .bmbox > a {
  color: #00c89f;
}
.mask-reg .embox {
  height: 350px;
  margin: 150px auto;
}
.mask-reg .reg-hd {
  padding: 32px 0px 0px 32px;
  display: flex;
  font-size: 20px;
}
.mask-reg .reg-hd .xhx {
  border-bottom: 2px solid #00c89f;
  color: #333;
}
.mask-reg .reg-hd span {
  width: 30px;
  height: 20px;
  border-left: 1px solid #999;
  margin-top: 9px;
}
.mask-reg .reg-hd .hd-box {
  margin-right: 30px;
}
.mask-reg .reg-hd .hd-box:hover {
  color: #00c89f;
  cursor: pointer;
}
.reg-sign {
  width: 308px;
  padding-top: 30px;
  margin: 0 32px;
}
.reg-sign .se {
  height: 35px;
  margin-bottom: 20px;
  display: flex;
}
.reg-sign .se > input:nth-child(1) {
  width: 50px;
  margin-right: 20px;
}
.reg-sign .se > input:nth-child(2) {
  width: 230px;
}
.reg-sign .tel-box {
  display: flex;
}
.reg-sign .tel-box .yzm {
  width: 70px;
  height: 37px;
  border: 1px solid #000;
  margin-left: 10px;
}
.reg-sign .tel-box .getyzm {
  width: 100px;
  line-height: 37px;
  height: 37px;
  border: 1px solid #000;
  border-left: 0px;
}
.reg-sign input {
  height: 35px;
  margin-bottom: 20px;
}
.reg-sign .fuwu {
  padding-left: 8px;
  margin-bottom: 20px;
}
.reg-sign .fuwu > a {
  color: #00c89f;
}
#password {
  width: 100%;
}
#button2 {
  width: 100%;
  height: 40px;
  background: linear-gradient(270deg, #00c6a5, #00cf7d);
  border: 0;
  color: #fff;
  font-size: 18px;
  border-radius: 3px;
}
#button {
  width: 100%;
  height: 40px;
  background: linear-gradient(270deg, #00c6a5, #00cf7d);
  border: 0;
  color: #fff;
  font-size: 18px;
  border-radius: 3px;
}
#number {
  width: 220px;
}
#email {
  width: 100%;
  margin-right: 0;
}
#checkbox {
  height: 20px;
  margin-bottom: 0;
}
.p-footer {
  padding: 40px 0;
  text-align: center;
  font-size: 12px;
  line-height: 25px;
}
.p-footer p:nth-child(2) img {
  width: 20px;
  height: 20px;
}
.p-footer p:nth-child(2) a {
  color: #999;
}
